@sidePadding: 20px;

* {
  box-sizing: border-box;
}

.wrapper {
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

.side {
  float: left;
  padding-left: @sidePadding;
}

.field {
  background-color: blanchedalmond;
  position: relative;
  float: left;
}

.threat {
  background-color: cornflowerblue;
  position: absolute;
}
