* {
  box-sizing: border-box;
}

.wrapper {
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

.side {
  float: left;
  padding-left: 20px;
}

.field {
  background-color: blanchedalmond;
  position: relative;
  float: left;
}

.hero {
  background-color: crimson;
  position: absolute;
}

.heroInTrouble {
  &:extend(.hero);
  opacity: 0.3;
}

.threat {
  background-color: cornflowerblue;
  position: absolute;
}
