@fieldWidth: 640px;
@fieldHeight: 480px;
@sideWidth: 200px;

* {
  box-sizing: border-box;
}

.wrapper {
  width: @fieldWidth + @sideWidth;
  margin-left: auto;
  margin-right: auto;
}

.side {
  float: left;
  width: @sideWidth;
  padding-left: 20px;
}

.field {
  width: @fieldWidth;
  height: @fieldHeight;
  background-color: blanchedalmond;
  position: relative;
  float: left;
}

.hero {
  background-color: crimson;
  position: absolute;
}

.heroInTrouble {
  &:extend(.hero);
  opacity: 0.3;
}

.threat {
  background-color: cornflowerblue;
  position: absolute;
}
